:root {
    --fondo: #e7dfcf;
    --black: #2c2d2a;
    --colorborde:#c0b091;
    --fontfamilypriamary: 'Montserrat', sans-serif;
    --fontfamilysecondary: 'EB Garamond', serif;
}
html {
    font-size: 62.5%;/*Se utiliza para resetear los pixeles y utilizae rem.*/
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    background-color: var(--fondo);
    font-size: 1.6rem;
    max-width: 80%;
    margin: 0 auto;
}

/*Header*/
.header {
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 50% 50%; */
}
.header__logos {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: left;
    gap: 3rem; 
}

.header__logos--image1 {
    height: 5rem;
    max-width: 5%;
}
.header__logos--image2 {
    height: 5rem;
    max-width: 30%;
}

@media (min-width: 430px) {
    .header__logos--image {
        height: 2.95rem;
        max-width: 100%;
    }
}
@media (min-width: 480px) {
    .header__logos--image {
        height: 3rem;
        max-width: 11rem;
    }
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem
}

.header__content--text {
    font-family: var(--fontfamilypriamary);
    font-weight: 400;
    font-size: 1.65rem;
    justify-content: space-evenly;
}
@media (min-width: 430px) {
    .header__content--text {
        font-family: var(--fontfamilypriamary);
        font-weight: 400;
        font-size: 1.7rem;
        justify-content: space-evenly;
    }
}
@media (min-width: 480px) {
    .header__content--text {
        font-family: var(--fontfamilypriamary);
        font-weight: 400;
        font-size: 1.85rem;
        justify-content: space-evenly;
        
    }  
}
.header__icons {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: left;
    gap: 3rem;
}
.header__icons--image {
    margin-top: 2.5rem;
    height: 2rem;
}

@media (min-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }
    .header__logos--image {
        height: 5rem;
        max-width:10%;
    }
    .header__content {
        flex-direction: row;
        justify-content: left;
        gap: 3rem;
    }
    .header__content--text {
        font-family: var(--fontfamilypriamary);
        font-weight: 400;
        justify-content: space-evenly;
    }
    .header__icons {
    justify-content: right;
    gap: 3rem;
    }
    .header__icons--image {
        margin-top: 2.5rem;
        height: 2rem;
        justify-content: right;   
    }
}


.hr {
    border: 1px solid var(--colorborde);
    /* opacity: 80%; */
    max-width: 100%;
}
/*contetido principal*/
/*Paragraph*/
.container {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    /* display: flex;
    justify-content: center;
    height: 80vh; */
}
.container__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container__text--little {
    font-family: var(--fontfamilypriamary);
    text-transform: uppercase;
}
.container__text--big {
    font-family: var(--fontfamilysecondary);
    font-size: 8.5rem;
    font-weight: 400;
}
.container__text--medium {
    font-family: var(--fontfamilysecondary);
    font-size: 4rem;

}
.container__text--paragraph1 {
    font-family: var(--fontfamilysecondary);
    font-style: italic;
    font-size: 3rem;
    font-weight: 400;


}
.container__text--paragraph2 {
    font-family: var(--fontfamilypriamary);

}
.container__link {
    display: flex;
    justify-content: left;
    
}
.container__link--text {
    font-family: var(--fontfamilypriamary);
    margin-top: 1.5rem;
}
.container__text--arrow {
     justify-content: center;
}
.container__image {
    display: flex;
    justify-content: center;

}
.container__image--bottle {
    max-width: 100%;
    max-height: 100%;
    padding: 10rem 0;
}
.container__nextpage {
    display: grid;
    /* grid-template-rows: repeat(2, 1fr) ; */
    grid-template-columns: repeat(2, 1fr) ;
    
}
.container__nextpage--page{
    grid-column: 1 / -1;
    font-family: var(--fontfamilypriamary);
    font-size: 2rem;
    width: 100%;
    text-align: right;
}
.container__nextpage--arrow {
    grid-row: 2 / 3;
    margin-top: 80rem;
    margin-left: .5rem;
    border-radius: 50%;
    border: 1px solid var(--black);
}